.test,
.hello {
 color: #4ecf2a;
}
h2.test.hello.eee {
  text-decoration: none;
  color: aqua;
  text-align: center;
}

p.test.hello {
    text-decoration: none;
    color: rgb(255, 0, 179);
    text-align: center;
  }

p[contenteditable="true"] {
 font-family:fantasy;
 font-style: italic;
 color: #ce2200;
 font-size: large;
}
title {
    color: rgb(202, 196, 255);
}
a {
    color: #000000;  
    text-decoration: none; 
}
a:visited {
    color: #2a1de0; 
} 
a:hover {
    color: #ce2200;   
    text-decoration: underline;
}

.check {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .check+label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #001a33;
    border-radius: 8px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:80% 80%;
  }
  .check:checked+label::before {
    border-color: #000000;
    background-color: #342db6;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

.table-text {
    font-size:x-large;
}
table {
    width:80%;
    background-color:rgb(24, 202, 18);
    color:rgb(0, 0, 0);
  }
  tr:nth-child(2n) {
    background-color:rgb(163, 82, 7);
  }
  

.colom { 
    background: rgb(10, 85, 35); 
    text-align: left; 
   }
   td {
    color: bisque;
   }
   .radio input {
    display: none;
  }

  .radio span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #7ccad5;
    border-radius: 50%;
  }

  .radio input:checked+span {
    background: #0093a7;
  }